<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1>Be (the) Change</h1>
      <p>
        This is an app created to pay it forward. You sign up, connect your bank
        account, and give permission to have your transactions rounded up to the
        nearest dollar, and the accumulation be donated to mutual aid(s). At the
        moment, we are only supporting
        <a href="https://cocosouthla.org/mutual-aid/">CoCo South LA</a>.
        Ultimately, supporting various mutual aids throughout the country is the
        goal.
      </p>
      <p>
        Why mutual aid? Unlike charity, mutual aid is about solidarity. Mutual
        aid is about building "bottom-up" structures of cooperation. It's "We
        The People" for we the people. Relying on each other rather than at the
        mercy of wealthy philanthropists. Read more about mutual aids
        <a
          href="https://www.opendemocracy.net/en/can-europe-make-it/why-mutual-aid-social-solidarity-not-charity/"
          >here</a
        >.
      </p>
      <p class="mt-4">Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
