<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1>Be (the) Change</h1>
      <h3>Pay it forward!</h3>
      <p>
        Sign up, connect your USA-based bank account, and allow your
        transactions be rounded up to the nearest dollar. The accumulated money
        goes to mutual aid(s).
      </p>
      <p>
        Why mutual aid? Unlike charity, mutual aid is about solidarity. Mutual
        aid is about building "bottom-up" structures of cooperation. Read more
        about
        <a
          href="https://www.opendemocracy.net/en/can-europe-make-it/why-mutual-aid-social-solidarity-not-charity/"
          >mutual aids</a
        >.
      </p>
      <p class="mt-4">Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
